<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="../../TEMPLATE/general/checkfield.js"></script>
<script language="JavaScript">
    function submitForm(choice){

        formulario = document.formulario_busqueda;

        formulario.enviarvalor.value = choice;
        formulario.submit();
    }

</script>
<link href="estilos.css" rel="stylesheet" type="text/css">

<table width="760" height="15" border="0" cellpadding="0"cellspacing="0">
    <tr>
        <td width="50%"  height="30" class="titulonormal">Reporte de Usuarios</td>
    </tr>
</table>
<table width="768" border="0" cellpadding="0" cellspacing="0">					
    <tr><td>		<div align="left" class="Textonormal" style="border:solid grey 1px;">



                <!-- BEGIN formulario -->
                <form name="formulario_busqueda" method="post" onSubmit="return false;">
                    <table>
                        <tr>
                          <!--  <td>
                                <input style="width:100px;" type="button"  class="Textonormal" name="boton" onClick="submitForm('buscar');" value="Ver Reporte">

                            </td>
                           --> <td>
                                <input style="width:100px;" type="button"  class="Textonormal" name="boton" onClick="submitForm('exportar');" value="Exportar EXCEL">
                                <input type="hidden" name="enviarvalor">
                            </td>
                        </tr>
                    </table>
                </form>
                <!-- END formulario -->

            </div>
        </td></tr>		
</table>
<table  width="768" border="0" cellpadding="2" cellspacing="0" class="tituloadvertencia"><td height="2" align="center"></td></table>
<!--
<div style="height:'70%'; width:768; overflow:auto;">
    <table width="100%" border="0" cellpadding="2" cellspacing="0" class="tabla2">
        <tr>
            <th width="5%" align="center">ID M&oacute;dulo</th>
            <th width="5%" align="center">Tipo</th>
            <th width="5%" align="center">ID Perfil</th>
            <th width="5%" align="center">Insert</th>
            <th width="5%" align="center">Delete</th>
            <th width="5%" align="center">Update</th>
            <th width="5%" align="center">Select</th>
            <th width="16%" align="center">Creado por</th>
            <th width="16%" align="center">Fecha Creaci&oacute;n</th>
            <th width="16%" align="center">Modificado por</th>
            <th width="16%" align="center">Fecha Modificaci&oacute;n</th>
        </tr>



        <!-- BEGIN reporteS -->
<!--        <tr>
            <td width="5%"  align="center">{ID}&nbsp;</td>
            <td width="5%"  align="center">{tipo}&nbsp;</td>
            <td width="5%"  align="left">{IDP}&nbsp;</td>
            <td width="5%"  align="center">{insert}&nbsp;</td>
            <td width="5%" align="center">{delete}&nbsp;</td>
            <td width="5%"  align="center">{update}&nbsp;</td>
            <td width="5%" align="center">{select}&nbsp;</td>
            <td width="16%" align="center">{ucrea}&nbsp;</td>
            <td width="16%" align="center">{fcrea}&nbsp;</td>
            <td width="16%" align="center">{umod}&nbsp;</td>
            <td width="16%" align="center">{fmod}&nbsp;</td>
        </tr>
        <!-- END reporteS -->
<!--
    </table>
</div>
-->
