<html>
<head>
<title>{TITULO}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table width="250" height="15" border="0" cellpadding="0"cellspacing="0">
		<tr>
			<td width="50%"  height="30" class="titulonormal">Administración de perfiles</td>
		</tr>
		<form action="adm_usr_05.php" method="post" name="form_modificar">
		<INPUT TYPE="hidden" NAME="action" VALUE="{ACTION}">
		<INPUT TYPE="hidden" NAME="id_perfil" VALUE="{ID_PERFIL}">
		<INPUT TYPE="hidden" NAME="pemo_mod_id" VALUE="{PEMO_MOD_ID}">
		<tr>
			<td>
				<table border="0" align="center" cellpadding="0" cellspacing="0"  class="textonormal">
				<tr valign=top>
					<td width="60">Perfil</td>
					<td > : </td>
					<td>{per_nombre}</td>
				</tr>
				<tr valign=top>
					<td>Módulo</td>
					<td > : </td>
					<td>{mod_nombre}<p></td>
				</tr>
				<tr valign=top>
					<td>Listar</td>
					<td > : </td>
					<td>
					<INPUT TYPE="checkbox" NAME="select_in_d" VALUE="1" checked disabled>
					<INPUT TYPE="hidden" NAME="select_in" VALUE="1"></td>
				</tr>
				<tr valign=top>
					<td>Insertar</td>
					<td > : </td>
					<td><INPUT TYPE="checkbox" NAME="insert_in" VALUE="1" {ch1}></td>
				</tr>
				<tr valign=top> 
					<td>Eliminar</td>
					<td > : </td>
					<td><INPUT TYPE="checkbox" NAME="delete_in" VALUE="1" {ch2}></td>
				</tr>
				<tr valign=top>
					<td>Modificar</td>
					<td > : </td>
					<td><INPUT TYPE="checkbox" NAME="update_in" VALUE="1" {ch3}></td>
				</tr>
				<tr>
					<td colspan=5 align="center"><INPUT TYPE="submit" value="Modificar"></td>
				</tr>	
				</table>
			</form>
			</td>
		</tr>
	</table>
</body>
</html>