<html>
<head>
<title>{TITULO}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>
<script language="javascript" src="../../TEMPLATE/general/checkfield.js"></script>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="250" height="15" border="0" cellpadding="0"cellspacing="0">
	<tr>
		<td  height="30" class="titulonormal">Eliminar usuario</td>
	</tr>
	<tr>
		<td ><p align=center>¿Esta seguro que desea eliminar el usuario?</p></td>
	</tr>	
	<tr>
		<td>
		<p align=center>
			<a href="adm_usr_08.php?action=delusr&usr_id={USR_ID}&per_o={PER_O}">Si</a>
			<a href="blanco.html">No</a></p>
		</td>
	</tr>
</table>

</body>

</html>