<html>
<head>
<title>{TITULO}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="250" align="center" border="0" cellpadding="0"cellspacing="0">
<tr>
	<td>
	<table width="250" height="15" border="0" cellpadding="0"cellspacing="0" class="textonormal">
		<tr>
			<td   colspan=2 height="30" class="titulonormal">Agregar perfil/usuario </td>
		</tr>
		<tr>
			<td  colspan=2> Seleccione el tipo de elemento que será agregado al sistema. Presione continuar para realizar la selección. </td>
		</tr>
	</td>
</tr>
<tr>
	<td>
		<table border="0" align="center" cellpadding="0" cellspacing="0"  class="textonormal">
		<form action="adm_usr_03.php" method="post" name="form_agregar">
		<INPUT TYPE="hidden" NAME="action" VALUE="addperusr">
		<INPUT TYPE="hidden" NAME="sec" VALUE="agregar">
		<INPUT TYPE="hidden" NAME="id_padre" VALUE="{ID_PADRE}">
			<tr>
				<td><INPUT TYPE="radio" NAME="tipo" value="1">Perfil</td>
				<td ><INPUT TYPE="radio" NAME="tipo" value="2" checked>Usuario</td>
			</tr>
			<tr>
				<td colspan=5 align="center">
				<INPUT TYPE="submit" value="Continuar">
				</td>
			</tr>	    
		</table>
	</td>
</tr>
</table>
</form>
</body>
</html>