<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>dhtmlxTreeGrid v.1.1 Standard</title>
</head>

<body>

<h2>dhtmlxGrid v1.1 Standard Edition Samples</h2>
<h3>Loading grid</h3>
<a target="_blank" href="samples/init_grid.html"><li>Initialize object</li></a>
<a target="_blank" href="samples/dyn_grid.html"><li>Smart rendering with dynamic loading (sample requires PHP)</li></a>
<a target="_blank" href="samples/reload_grid.html"><li>Reload grid content</li></a>
<a target="_blank" href="samples/layout_grid.html"><li>Multiple grids per page</li></a>
<a target="_blank" href="samples/memory_grid.html"><li>Memory usage optimization</li></a>
<a target="_blank" href="samples/attachtoobject_grid.html"><li>Change grid's parent object (attachToObject method)</li></a>
<br/>

<h3>Manipulations with rows/cells</h3>
<a target="_blank" href="samples/api_grid.html"><li>Use API</li></a>
<a target="_blank" href="samples/addrows_grid.html"><li>Add/Delete rows</li></a>
<a target="_blank" href="samples/events_grid.html"><li>Attach events</li></a>
<a target="_blank" href="samples/excell_grid.html"><li>Setting cells and columns properties</li></a>
<br/>

<h3>Visual design</h3>
<a target="_blank" href="samples/styles_images.html"><li>Icons in header</li></a>
<a target="_blank" href="samples/styles_xp.html"><li>XP skin</li></a>
<a target="_blank" href="samples/styles_grid.html"><li>Setting Grid styles</li></a>
<a target="_blank" href="samples/styles_alt_colors.html"><li>Alternative coloring</li></a>
<a target="_blank" href="samples/styles_mouse_nav.html"><li>Light mouse navigation mode</li></a>
<a target="_blank" href="samples/styles_auto_height.html"><li>Auto height mode</li></a>
<a target="_blank" href="samples/styles_header_imgs.html"><li>Header images</li></a>

<br/>

<h3>exCells</h3>
<a target="_blank" href="samples/colorpicker_grid.html"><li>Using Color-picker eXcell</li></a>
<a target="_blank" href="samples/calendar_grid.html"><li>Using Calendar eXcell</li></a>
<a target="_blank" href="samples/link_grid.html"><li>Using Link eXcell</li></a>
<br/>


<h3>Additional</h3>
<a target="_blank" href="samples/drag_grid.html"><li>Drag-n-drop</li></a>

<h2>dhtmlxGrid documentation</h2>
<li><a href="doc/index.html" target="_blank">Full API documentation and User Guide</a></li>
<h2>dhtmlxGrid v1.1 Professional Edition</h2>
	<li>Smart Rendering (with static contant) for big amounts of data</li>
	<li>Paginal Output</li>
	<li>Freezed columns</li>
	<li>Merged cells (colspan)</li>
	<li>Extended Drag-n-drop</li>
	<li>dhtmlxDataProcessor to link grid with server side</li>
	<li>More API methods available</li>
	<li>More event handlers available</li>
	<li>Serialization</li>
	<li>Loading from XML String</li>
	<li>Configuration from XML</li>
	<li>Drag-and-drop in/from dhtmlxTree</li>
	<li>Drag-and-drop of multiple items</li>
	<li>Copy with Drag-and-drop</li>
	<li>Math Formulas for cells</li>
	<li>Customizable Sorting</li>
	<li>Context Menu</li>
	<li>Official support/update</li>
	<br><br>
	Please <a href="mailto:dhtmlx@scand.com">contact us</a> to buy Professional Edition
	
	


<hr/>
&copy;Scand LLC, 2000-2006
</body>
</html>
