<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Impresi&#243;n Cotizaci&#243;n</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="1" cols="1" framespacing="0" frameborder="NO" border="0">
 <!--  <frame src="../../TEMPLATE/monitorcotiblo/prthdr.htm" name="topFrame" scrolling="NO" noresize > -->
  <frame src="../../COMMAND/monitorcotiblo/imprimir_coblo_autoriza.php?id_cotizacion={id_cotizacion}&rut={rut}&origen={origen}" name="mainFrame">
</frameset>
<noframes><body>
</body></noframes>
</html>