<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ECE9D8;
}
-->
</style></head>
<body>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#ECE9D8" class="textonormal">
  <tr>
    <td width="4%"><A HREF="#" onClick="parent.frames[1].imprimir();"><img src="../../IMAGES/print.gif" width="73" height="29" border=0></A></td>
    <td width="79%"><A HREF="#" onClick="window.close()">Cerrar</a></td>
    <td width="17%">&nbsp;</td>
  </tr>
</table>
</body>
</html>