<script language="JavaScript" type="text/JavaScript" src="../../TEMPLATE/general/funciones.js"></script>
<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>
<script language="javascript" src="../../TEMPLATE/general/checkfield.js"></script>
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
	<table width="700" height="15" border="0" cellpadding="0"cellspacing="0">
		<tr>
			<td width="50%"  height="30" class="titulonormal">Administración de variables globales</td>
		</tr>
		<tr>
			<td width="60%"  class="titulonormal">{OUT_BARRA}</td>
		</tr>
		<tr>
			<td width="60%"><p>Variables del grupo</p></td>
		</tr>	
	</table>	
<table width="700" border="3"  bordercolor="white" cellpadding="0"cellspacing="0">
	<tr>
		<td>
			<table width="700" border="4" align="center" cellpadding="0" cellspacing="0" class="tabla2">
			<tr>
			<th align="left"   width="140">Nombre variable</th>
			<th align="left"   width="180">Descripción</th>
			<th align="left"   width="180">Llave</th>
			<th align="left"   width="100">Valor</th>															
			<th align="left"   width="100"> &nbsp; </th>						
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<div style="width:700; height:380; overflow:auto;" align="center" >		
			<table width="670" border="3" bordercolor="white" height="30" cellpadding="0" cellspacing="0" class="tabla2">
			<!-- BEGIN Variables -->
				<tr>
					<td width="140" align="left">{var_titulo}&nbsp;</td>
					<td width="180" align="left">{var_descripcion}&nbsp;</td>
					<td width="180" align="left">{var_llave}&nbsp;</td>
					<td width="100" align="left">{var_valor}&nbsp;</td>
					<td width="50"  align=center>{ACCIONES}</td>
				</tr>
			<!-- END Variables -->
			</table>
			</div>		
		</td>
	</tr>
</table>