<script language="javascript" src="../../TEMPLATE/general/checkfield.js"></script>
<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>

<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
<table width="700" height="15" border="0" cellpadding="0"cellspacing="0">
		<tr>
			<td width="50%"  height="30" class="titulonormal">&nbspAdministración de variables globales </td>
		</tr>
		<tr>
			<td width="60%"  class="titulonormal">{OUT_BARRA}</td>
		</tr>
	</table>
<table width="600" border="3"  bordercolor="white" cellpadding="0"cellspacing="0">
	<tr>
		<td>
			<table width="600" border="4" align="center" cellpadding="0" cellspacing="0" class="tabla2">
				<tr>
					<th align="left"   width="200">Grupo</th>				
					<th align="left"   width="200">Descripción</th>		
					<th align="center"   width="200"> Acciones</th>		
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
		<div style="width:600; height:380; overflow:auto;" align="center" >		
			<table width="570" border="3" bordercolor="white" align="center" height="30" cellpadding="0" cellspacing="0" class="tabla2">
			<!-- BEGIN Grupos -->
				<tr valign="middle">
					<td width="190" align="left">{glo_titulo}&nbsp;</td>
					<td width="190" align="left">{glo_descripcion}&nbsp;</td>
					<td width="190" align="center">{ACCIONES}</td>
				</tr>
			<!-- END Grupos -->
			</table>
		</div>		
		</td>
	</tr>
</table>
