<table border="0" cellpadding="0" cellspacing="0" width = "100%">

	<tr>

		<td>

			<table border="0" cellpadding="2" cellspacing="2" class="tabla1" width="100%">

				<tr>

					<th>N° Folio</th>

					<th>Estado OE </th>
					<th>Emitido (impreso)</th>
					<th>Enviado a SAP </th>
					<th>Tipo Doc.</th>

					<th>OE Asociada</th>

					<th width="100">Fecha Documento</th>

					<th width="60">Local Emisor</th>

					<th>Tienda </th>

					<th>CC/NIT/RUT</th>

					<th>Medio Pago </th>

					<th>Neto</th>

					<th>IVA</th>

					<th>Total</th>

				</tr>



<!-- BEGIN reportedetalle_NOM -->            

				<tr>

					<td align="right">{valor1}</td>

					<td align="right">{valor20}</td>
					<td align="right">{valor21}</td>
					<td align="right">{valor22}</td>
					<td align="center">{valor2}</td>

					<td align="right">{valor3}</td>

					<td align="center">{valor4}</td>

					<td align="left">{valor6}</td>

					<td align="left">{valor7}</td>

					<td align="right" width="60">{valor8}</td>

					<td align="right">{valor100}</td>

					<td align="right">$ {valor11}</td>

					<td align="right">$ {valor12}</td>

					<td align="right">$ {valor13}</td>

				</tr>

<!-- END reportedetalle_NOM --> 



				<tr>

					<th align="center" colspan = 11>TOTAL</th>

					<th align="right"><nobr>$ {totalvalor11}</nobr></th>

					<th align="right"><nobr>$ {totalvalor12}</nobr></th>

					<th align="right"><nobr>$ {totalvalor13}</nobr></th>

				</tr>

			</table>

		</td>

	</tr>	

</table>

