<table border="0" cellpadding="0" cellspacing="0" width = "100%">
	<tr>
		<td>
			<table border="0" cellpadding="2" cellspacing="2" class="tabla1" width="100%">
				<tr>
					<th align="center">Local Emisor</th>
					<th align="center">Tienda</th>
					<th align="center">Cliente</th>
					<th align="center">CC/NIT/RUT</th>					
					<th align="center">Total Neto </th>
					<th width="100" align="center">Total IVA </th>
					<th width="100" align="center">Total Ventas </th>
				</tr>

<!-- BEGIN reportedetalle_NOM -->            
				<tr>
					<td align="left">{valor1}</td>
					<td align="left">{valor2}</td>
					<td align="left">{valor111}</td>
					<td align="right">{valor112}</td>					
					<td align="right">$ {valor3}</td>
					<td align="right">$ {valor4}</td>
					<td align="right">$ {valor5}</td>
				</tr>
<!-- END reportedetalle_NOM --> 

				<tr>
					<th align="center" colspan="4">TOTAL</th>
					<th align="right"><nobr>$ {totalvalor11}</nobr></th>
					<th align="right"><nobr>$ {totalvalor12}</nobr></th>
					<th align="right"><nobr>$ {totalvalor13}</nobr></th>
				</tr>
			</table>
		</td>
	</tr>	
</table>
