<table border="0" cellpadding="0" cellspacing="0" width = "100%">
	<tr>
		<td>
			<table border="0" cellpadding="2" cellspacing="2" class="tabla1" width="100%">
				<tr>
					<th>OE</th>
					<th width="100">Local Emisor</th>
					<th>Usuario</th>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Comentarios</th>
					<th>FCT</th>
					<th>GDE</th>
				</tr>

<!-- BEGIN reportedetalle_NOM -->            
				<tr>
					<td align="right">{valor1}</td>
					<td align="left">{valor2}</td>
					<td align="center">{valor3}</td>
					<td align="center">{valor4}</td>
					<td align="center">{valor5}</td>
					<td align="left">{valor6}</td>
					<td align="right">{valor7}</td>
					<td align="right">{valor8}</td>
				</tr>
<!-- END reportedetalle_NOM --> 
			</table>
		</td>
	</tr>	
</table>
