{graficar}
<table border="0" cellpadding="0" cellspacing="0" width = "100%">

	<tr>

		<td>

			<table border="0" cellpadding="2" cellspacing="2" class="tabla1" width="100%">

				<tr>

					<th>Vendedor</th>
					
					<th>Periodo</th>
					
					<th width="100">Local</th>

					<th>Margen Promedio</th>

					<th>Total Ventas</th>															

				</tr>



<!-- BEGIN reportedetalle_NOM -->            

				<tr>

					<td align="left">{valor2}</td>

					<td align="left">{valor3}</td>

					<td align="center">{valor1}</td>

					<td align="right">{valor7}%</td>

					<td align="right">$ {valor8}</td>

				</tr>

<!-- END reportedetalle_NOM --> 



				<tr>

					<th align="center" colspan = 3>TOTAL</th>

					<th align="right"><nobr>{totalvalor14}%</nobr></th>					

					<th align="right"><nobr>$ {totalvalor15}</nobr></th>																								

				</tr>

			</table>

		</td>

	</tr>	

</table>