<table border="0" cellpadding="0" cellspacing="0" width = "100%">

	<tr>

		<td>

			<table border="0" cellpadding="2" cellspacing="2" class="tabla1" width="100%">

				<tr>

					<th width="70">CC/NIT/RUT</th>

					<th width="81">Nombre</th>

					<th width="128">Tipo Cliente </th>

					<th width="80">Estado</th>
			<th width="115">Linea credito cliente</th>
					<th width="85">Disponible</th>

					<th width="121">Venc. Disp. </th>

					<th width="97">Vendedor</th>

					<th width="119">Cond. Pago </th>

					<th width="91">Rubro</th>

					<th width="190">Local Ult. Compra </th>

				</tr>



<!-- BEGIN reportedetalle_NOM -->            

				<tr>

					<td align="right">{valor2}</td>

					<td align="left">{valor3}</td>

					<td align="left">{valor4}</td>

					<td align="left">{valor5}</td>

					<td align="right">$ {valor5_6}</td>

					<td align="right">$ {valor6}</td>

					<td align="right"><nobr>{valor7}</nobr></td>

					<td align="left">{valor8}</td>

					<td align="left">{valor9}</td>

					<td align="left">{valor10}</td>

					<td align="left">{valor11}</td>

				</tr>

<!-- END reportedetalle_NOM --> 

			</table>

		</td>

	</tr>	

</table>

