<table border="0" cellpadding="0" cellspacing="0" width = "100%">
	<tr>
		<td>
			<table border="0" cellpadding="2" cellspacing="2" class="tabla1" width="100%">
				<tr> 
					<th width="100">Local</th>
					<th>Usuario</th>
					<th>Fecha</th>
					<th>Nº Cotizacion</th>
					<th>Tipo Venta</th>
					<th>Codigo SAP</th>
					<th>Descripcion</th>
					<th>Cantidad</th>
					<th>Margen</th>
					<th>Costo Unitario</th>
					<th>Precio Venta unitario</th>
					<th>Precio Venta linea</th>

				</tr>

<!-- BEGIN reportedetalle_NOM -->            
				<tr>
					<td align="left">{valor1}</td>
					<td align="center">{valor2}</td>
					<td align="center">{valor3}</td>
					<td align="right">{valor4}</td>
					<td align="left">{valor5}</td>
					<td align="right">{valor6}</td>
					<td align="left">{valor7}</td>
					<td align="right">{valor8}</td>
					<td align="right">{valor9}%</td>
					<td align="right">$ {valor10}</td>
					<td align="right">$ {valor11}</td>
					<td align="right">$ {valor12}</td>
				</tr>
<!-- END reportedetalle_NOM --> 
			</table>
		</td>
	</tr>	
</table>
