<script language="JavaScript" type="text/JavaScript" src="../../TEMPLATE/general/funciones.js"></script>
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    
function asignar_selecciondas()
{
    for( var i=(document.getElementById('funcionalidades_no_asignados').length-1); i >= 0; i-- )
    {
        if ( document.getElementById('funcionalidades_no_asignados')[i].selected )
        {
            // alert(document.getElementById('funcionalidades_no_asignables')[i].value);
            // Agregar el elemento a la lista de funcionalidades asignables
            var newOption = document.createElement('option');
            newOption.text = document.getElementById('funcionalidades_no_asignados')[i].text;
            newOption.value = document.getElementById('funcionalidades_no_asignados')[i].value;
            if (/MSIE (\d+\.\d+);/.test(navigator.userAgent))
            {            
              document.getElementById('funcionalidades_asignados').add(newOption, 0);
            }
            else
            {
              document.getElementById('funcionalidades_asignados').add(newOption, null);              
            }
            // Eliminar el elemento de la lista de funcionalidades no asignables
            document.getElementById('funcionalidades_no_asignados').removeChild(document.getElementById('funcionalidades_no_asignados')[i]);                
        }
    }    
}

function desasignar_selecciondas()
{
    for( var i=(document.getElementById('funcionalidades_asignados').length-1); i >= 0; i-- )
    {
        if ( document.getElementById('funcionalidades_asignados')[i].selected )
        {    
            // Agregar el elemento a la lista de funcionalidades asignables            
            var newOption = document.createElement('option');
            newOption.text = document.getElementById('funcionalidades_asignados')[document.getElementById('funcionalidades_asignados').selectedIndex].text;
            newOption.value = document.getElementById('funcionalidades_asignados')[document.getElementById('funcionalidades_asignados').selectedIndex].value;
            if (/MSIE (\d+\.\d+);/.test(navigator.userAgent))
            {
              document.getElementById('funcionalidades_no_asignados').add(newOption, 0);              
            }
            else
            {
              document.getElementById('funcionalidades_no_asignados').add(newOption, null);
            }            
            // Eliminar el elemento de la lista de funcionalidades no asignables
            document.getElementById('funcionalidades_asignados').removeChild(document.getElementById('funcionalidades_asignados')[document.getElementById('funcionalidades_asignados').selectedIndex]);    
         }
    }
}

function onSubmit()
{
    // Marcar como seleccionado todas las funcionalidades_no_asignados
    for( var i=(document.getElementById('funcionalidades_no_asignados').length-1); i >= 0; i-- )
    {
        document.getElementById('funcionalidades_no_asignados').options[i].selected=true;
    }   
    // Marcar como seleccionado todas las funcionalidades_asignados
    for( var i=(document.getElementById('funcionalidades_asignados').length-1); i >= 0; i-- )
    {
        document.getElementById('funcionalidades_asignados').options[i].selected=true;
    }        
}
    
</script>

<form action="adm_funcionalidades.php" method="post" onSubmit="onSubmit();">

<div style="margin-left:15px">

<table width="700" height="15" border="0" cellpadding="0"cellspacing="0">
	<tr>
		<td width="50%"  height="30" class="titulonormal">{TEXT_TITULO}</td>
	</tr>
	<tr>
		<td width="60%"  class="titulonormal">{OUT_BARRA}</td>
	</tr>
	<tr>
		<td width="60%"><p>{TEXT_1}</p></td>
	</tr>    
</table>



<p>Seleccione un perfil: &nbsp;&nbsp;&nbsp;<br><br>
<select name="perfil_id" id="perfil_id" onChange="window.location = 'adm_funcionalidades.php?perfil_id='+this.options[this.selectedIndex].value;">
<!-- BEGIN perfiles -->
<option value="{id_perfil}" {selected}>{descripcion}</option>
<!-- END perfiles -->

</select>
<br><br><br>Cuenta con las siguientes funcionalidades<br></p>

<table>

<tr>

<td>
Funcionalidades no asignados al perfil<br><br>
<select name="funcionalidades_no_asignados[]" id="funcionalidades_no_asignados" size="25" multiple="multiple" style="width: 300px;">

<!-- BEGIN funcionalidades_no_asignadas -->
<option value="{id_funcionalidad}" {selected}>{descripcion}</option>
<!-- END funcionalidades_no_asignadas -->  
  
</select>

</td>

<td>

<input type="button" value="Asignar >>" onClick="asignar_selecciondas();"><br>
<input type="button" value="Desasignar &lt;&lt;" onClick="desasignar_selecciondas();">
</td>

<td>
Funcionalidades asignados al perfil<br><br>
<select name="funcionalidades_asignados[]" id="funcionalidades_asignados" size="25" multiple="multiple" style="width: 300px;">

<!-- BEGIN funcionalidades_asignadas -->
<option value="{id_funcionalidad}" {selected}>{descripcion}</option>
<!-- END funcionalidades_asignadas -->    
  
</select>

</td>

</tr>

</table>
 

</div>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input 
type="submit" value="Guardar funcionalidades para este perfil">
<br><br>

</form>