   </td>

  </tr>
  <style type="text/css">
<!--
.Estilo3 {
	color: #FF0000;
	font-size: large;
}
-->
  </style>
  

<table>

<table width="778" height="20" border="0" cellpadding="0" cellspacing="0" background="../../IMAGES/ftr.jpg"-->

  <tr>

    <td bgcolor="#DEDEDE" height="1" colspan="3"></td>

  </tr>

  <tr>

    <td height="19" colspan="3"><div align="left">&nbsp;&nbsp;&nbsp;<span class="footer">Usuario:</span> <span class="textonormalblanco">{login}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="footer">Fecha:</span> <span class="textonormalblanco">{fecha}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="footer">Versi&oacute;n:</span> <span class="textonormalblanco">7c4r2 (11/01/2008)  </span></div></td>

  </tr>

</table>





</body>

<html>

