<!---- BEGIN HEADER----->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<title>{TITULO_PAGINA}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript"></script>
<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<table width="778" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="73" height="55" rowspan="2" bgcolor="#242424"><img
			src="../../IMAGES/logotipo.gif" width="95" height="55"></td>
		<td rowspan="2" bgcolor="#242424">&nbsp;</td>
		<td width="176" height="32" align="center" bgcolor="#242424"
			class="textonormal"><img src="../../IMAGES/header.gif" width="176" height="30">
	    </td>
	</tr>
	<tr>
		<td align="center" bgcolor="#242424"></td>
	</tr>
</table>
<!----END HEADER ----->