<link href= "../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.Estilo10 {
font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	
}
-->
</style>
<SCRIPT Language="Javascript">
function enviar_impresion()
{
document.write("<body onload='imprimir();'>");
}

function imprimir() 
{
	this.focus();
	imprimirsinasistente();	
} 	 
</script>

<!--  Funcion que omite la seleccion de impresora, y envía a la impresora Predeterminada del Sistema. -->
<script Language="Javascript">
function imprimirsinasistente(){  
if (NS) {
    window.print();  
} else {
    var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
	document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
    WebBrowser1.ExecWB(6, 2);
  	WebBrowser1.outerHTML = "";  
	}
}
</script>
<SCRIPT Language="Javascript">  
var NS = (navigator.appName == "Explorer");
var VERSION = parseInt(navigator.appVersion);
if (VERSION < 3) {
	alert ('verifique que este activo el control "Activex no Firmadas", si su version de explorer es inferior a la requerida consulte con el administrador');        
	}
</script>
<script language=JavaScript>enviar_impresion()</script>
<BODY>
<table width="650" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<table width="600"  border="0" cellspacing="2" cellpadding="2" align="center">
			<tr>
				<td height="49"><img src="../../IMAGES/logotipo_negro.gif"></td>
				<td class="titulonormal" align="center">COMPROBANTE DE FINANCIAMIENTO</td>
			</tr>
</table>
<fieldset><legend><span class="Estilo10">Datos Cliente</legend>
			<table width="640" border="0" cellspacing="0" cellpadding="0" class="textonormal" align="center">
				<tr>
					<th align="right" width="140">CC/NIT/RUT:</th>
					<td style="width: 20px"></td>
					<td width="200">{rut}</td>
					<th align="right" width="140">Actividad Economica:</th>
					<td style="width: 19px"></td>
					<td width="200">{giro}</td>
				</tr>
				<tr>
					<th align="right">Cliente:</th>
					<td></td>
					<td>{dcrazonsoc}</td>
					<th align="right">Teléfono  Contacto:</th>
					<td></td>
					<td>{dcfonocontacto}</td>
				</tr>
				<tr>
					<th align="right">Contacto:</th>
					<td></td>
					<td>{contacto}&nbsp;</td>
					<th align="right"> </th>
					<td></td>
				</tr>
				<tr>
					<th align="right" width="140">Departamento:</th>
					<td style="width: 20px"></td>
					<td width="200">{dcdepartamento}</td>
					<th align="right" width="140">Ciudad:</th>
					<td style="width: 19px"></td>
					<td width="200">{dcciudad}</td>
				</tr>
				<tr>
					<th align="right" width="140">Direcci&oacute;n:</th>
					<td style="width: 20px"></td>
					<td width="200">{dcdireccion}</td>
					<th align="right" width="140">Barrio:</th>
					<td style="width: 19px"></td>
					<td width="200">{dcnomcomuna}</td>
				</tr>
			</table>
		  </fieldset><br><br>
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" class="tabla2">	
				<tr>
				<th align="center">Codigo</th>
				<th align="center">Descripci&oacute;n</th>
				<th align="center">Cantidad</th>               
				<th align="center">Precio</th>
				<th align="center">Total</th>
				</tr>
			
		
	
		        
		<!-- BEGIN detalleproductos -->              
		<tr>
			<td align="center">{barra}{codprod}&nbsp;</td>
			<td align="left">&nbsp;{descripcion}&nbsp;</td>
			<td align="center">{cantidad}&nbsp;</td>
			<td align="right">{precio}&nbsp;</td>               
			<td align="right">{totallinea}&nbsp;</td>
		</tr>
	  <!-- END detalleproductos -->
		</table><br>
<table width="300" border="0" align="right" cellpadding="0" cellspacing="0" class="tabla4" >	
			<tr>              
				<td width="100" align="left">Sub-Total</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{valortotal}&nbsp;</td>  
			</tr>
			<tr>               
				<td width="100" align="left">Descuentos</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{descuentot}&nbsp;</td>  
			</tr>
			<tr>
				               
				<td width="100" align="left">Valor IVA</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{viva}&nbsp;</td>  
			</tr>
			{valorfletetabla}
			<tr>               
				<td width="100" align="left">Retención IVA</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{rete_iva}&nbsp;</td>  
			</tr>
			<tr>             
				<td width="100" align="left">Retención Renta</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{rete_renta}&nbsp;</td>  
			</tr>
			<tr>                
				<td width="100" align="left">Retención ICA</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{rete_ica}&nbsp;</td>  
			</tr>
			<tr>
				<td align="left"  width="100">Total</td>
				<td width="50"></td>						
				<td align="right" width="90">{sumtotal}&nbsp;</td>
			</tr>
			<tr>
				<td colspan=3 style="border-bottom-style: none"><hr></hr></td>
			</tr>
			<tr>               
				<td width="100" align="left">Total Con Intereses</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{vtotal+int}&nbsp;</td>  
			</tr>
			<tr>               
				<td width="100" align="left">Cuota Inicial</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{cini}&nbsp;</td>  
			</tr>
			<tr>               
				<td width="100" align="left">N° Cheques</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{ncheq}&nbsp;</td>  
			</tr>
			<tr>             
				<td width="100" align="left">Valor A Financiar</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{vfinan}&nbsp;</td>  
			</tr>
			<tr>                
				<td width="100" align="left">Interes De Financiación</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{ifinan}% M.V&nbsp;</td>  
			</tr>
			<tr>
				<td align="left"  width="100" class="Estilo10">Valor X Cheque</td>
				<td width="50"></td>						
				<td align="right" width="90" class="Estilo10">{vxcheq}&nbsp;</td>
			</tr>
			<tr>
				<td colspan=3 style="border-bottom-style: none"><hr></hr></td>
			</tr>
			<tr>              
				<td width="100" align="left" class="Estilo10">Valor Intereses</td>
				<td width="50"  class="Estilo10"></td>								
				<td width="90"  align="right" class="Estilo10">{vint}&nbsp;</td>  
			</tr>
			<tr>               
				<td width="100" align="left">IVA Intereses</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{ivaint}&nbsp;</td>  
			</tr>
			<tr>             
				<td width="100" align="left">Base Intereses</td>
				<td width="50"  ></td>								
				<td width="90"  align="right">{baint}&nbsp;</td>  
			</tr>				
		</table>
</td></tr>
<tr><td><hr></hr>
</td></tr>
<tr><td class="Estilo10" align="center">Financiación Válida por 1 Día
</td></tr></table>
</BODY>