<script language="javascript" src="../../TEMPLATE/general/funciones.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="../../TEMPLATE/general/checkfield.js"></script>
<script>
	var arrayciudades=new Array();
	arrayciudades[0] = '';
	function cambiaciudad(elem, dest){
		dest.value = arrayciudades[elem.options[elem.selectedIndex].value];
	}

</script>

<table width="760" height="15" border="0" cellpadding="0"cellspacing="0">
	<tr>
		<td width="50%"  height="30" class="titulonormal">Modificar Informaci&oacute;n Cliente </td>
 	</tr>
</table>

<table width="760" border="0" cellpadding="0" cellspacing="0">
<FORM NAME="nueva_cotizacion_01" METHOD="POST" >
<INPUT TYPE="hidden" NAME="accion" VALUE="grabar">
<INPUT TYPE="hidden" NAME="rut" VALUE="{rut}">
<INPUT TYPE="hidden" NAME="id_direccion_elim" VALUE="">
<INPUT TYPE="hidden" NAME="id_giro2" VALUE="{id_giro2}">
<INPUT TYPE="hidden" NAME="descripcion_giro" VALUE="{descripcion_giro}">
<INPUT TYPE="hidden" NAME="tupla_dir_mod" VALUE="">
<INPUT TYPE="hidden" NAME="id_rubro" VALUE="{id_rubro}">
<INPUT TYPE="hidden" NAME="tipocliente" VALUE="{id_tipocliente}">

<INPUT TYPE="hidden" NAME="comuna2" VALUE="{id_comuna2}">
<INPUT TYPE="hidden" NAME="razonsoc_b" VALUE="{razonsoc}">
<INPUT TYPE="hidden" NAME="contactoe_b" VALUE="{contactoe}">
<INPUT TYPE="hidden" NAME="fonocontactoe_b" VALUE="{fonocontactoe}">
<INPUT TYPE="hidden" NAME="emaile_b" VALUE="{emaile}">
<INPUT TYPE="hidden" NAME="direccione_b" VALUE="{direccione}">
<INPUT TYPE="hidden" NAME="nom_giro_b" VALUE="{nom_giro}">
<INPUT TYPE="hidden" NAME="descripcion_giro_b" VALUE="{descripcion_giro}">
	<tr>
		<td valign="top">
			<table width="760" border="0" align="center" cellpadding="2" cellspacing="2">
				<tr>
					<td width="100%" valign="top">
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="textonormal">
							<tr>
		 				 		<td>
		 				 			<table width="760"  border="0" align="left" cellpadding="0" cellspacing="0" class="textonormal">
                   				 		<tr>
                      						<td valign="top" class="select1">
												<fieldset><legend><span class="textonormal">Datos de Cliente</span></legend>
                       							<table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        							 <tr>
                   								 	   <td>
												        <table width="760" border="0" cellpadding="0" cellspacing="0">
                                                                 <tr>
                                                                   <td width="4" class="textonormal">&nbsp;</td>
                                                                   <th width="93" align=left class="textonormal">CC/NIT/RUT(*): </th>
                                                                   <th width="93" align=left class="textonormal">&nbsp;</th>
                                                                   <td width="100" class="textonormal">{rutdv} </td>
                                                                   <td width="4" class="textonormal">&nbsp;</td>
                                                                   <th width="140" align=left class="textonormal">Raz&oacute;n Social(*):</th>
                                                                   <th width="100" align=left class="textonormal">&nbsp;</th>
                                                                   <td class="textonormal" colspan="3"><input name="razonsoc" type="text" class="textonormal" value="{razonsoc}" size="75" {deshabilitadorazonsoc}></td>
                                                                 </tr>
																
                                                                 <tr>
                                                                   <td class="textonormal">&nbsp; </td>
                                                                   <th class="textonormal" align=left><span class="tabla1">Contacto(*):</span></th>
                                                                   <th class="textonormal" align=left>&nbsp;</th>
                                                                   <td class="textonormal"><input name="contactoe" type="text" class="textonormal" value="{contactoe}" size="30%" width="80%" {deshabilitadocontactoe}></td>
                                                                   <td class="textonormal">&nbsp;</td>
                                                                   <th class="textonormal" align=left><span class="tabla1">Tel&eacute;fono(*):</span></th>
                                                                   <th class="textonormal" align=left>&nbsp;</th>
                                                                   <td class="textonormal"><input name="fonocontactoe" type="text" class="textonormal" value="{fonocontactoe}" size="20" maxlength="20" {deshabilitadofonocontactoe}></td>
                                                                   <th class="textonormal" align=left>e-mail: </th>
                                                                   <td class="textonormal"><input name="emaile" type="text" value="{emaile}" class="textonormal" size="30" width="100%" {deshabilitadoemaile}></td>
                                                                 </tr>

																  <tr>
                                                                   <td class="textonormal">&nbsp; </td>
                                                                   <th class="textonormal" align=left><span class="tabla1">Rubro:</span></th>
                                                                   <th class="textonormal" align=left>&nbsp;</th>
                                                                   
															     <td class="textonormal">

																   <select name="select_rubro" class="TextoNormal" >
																  <option value="0" {selectedt} class="Textonormal">Ninguno</option>
																				<!-- BEGIN rubro -->
																				<option value="{id}" {selected_rubro}>{nombre}</option>
																				
																				<!-- END rubro -->
																	</select>
                                                                   
																   <td class="textonormal">&nbsp;</td>
                                                                   <th class="textonormal" align=left><span class="tabla1">Tipo Cliente:</span></th>
                                                                   <th class="textonormal" align=left>&nbsp;</th>
                                                                   <td class="textonormal">{nomtipcliente}</td>
                                                                   <th class="textonormal" align=left>Vendedor: </th>
                                                                  <td class="textonormal">{vendedor}</td>
                                                                 </tr>


																<tr>
                                                                   <td class="textonormal">&nbsp; </td>
                                                                   <th class="textonormal" align=left><span class="tabla1">Disponible:</span></th>
                                                                   <th class="textonormal" align=left>&nbsp;</th>
                                                                   <td class="textonormal">{disponible}</td>
																   <td class="textonormal">&nbsp;</td>
                                                                   <th class="textonormal" align=left><span class="tabla1">Bloqueado en CVE:</span></th>
                                                                   <th class="textonormal" align=left>&nbsp;</th>
                                                                   <td class="textonormal"><input name="valorbox1" type="checkbox" {checked2} ></td>
                                                                  
																</tr>


																  <tr>
																  <td class="textonormal">&nbsp;</td>
                                                                  <th class="textonormal" align=left><span class="tabla1">Observaciones:</span></th>
                                                                  <td class="textonormal">&nbsp;</td>
                                                                  <td width="190" class="textonormal">{locksap}{lockmoro}{lockcve}{lockfecha}</textarea></td>
																  <td class="textonormal">&nbsp;</td>
																   <th class="textonormal" align=left><span class="tabla1">Comentarios:</span></th>
																    <td class="textonormal">&nbsp;</td>
																	 <th class="textonormal" colspan=3 align=left><textarea name="comentarios" cols="40" rows="">{comentarios}</textarea></th>

															</tr>

                                                </select>
											</td>
                                       </tr>
							</table>
						</table>
					<span class="subtitulonormal"> 
					</span>
				  </td>
                 <tr>
                </table>
             </fieldset>
          </td>
       </tr>
    </table>
 </td>
<td width="448" valign="top">&nbsp;</td>
</tr>
           					<tr>
               					<td valign="top" class="select1">
									<fieldset><legend><span class="textonormal">Datos de Facturaci&oacute;n</span></legend>
									<table width="760" border="0" cellpadding="0" cellspacing="0">
                                       	<tr>
                                              <td class="textonormal">&nbsp;&nbsp;&nbsp;</td>
                                              <th width="77" class="textonormal" align=left>Direcci&oacute;n: </th>
                                              <td width="410" class="textonormal"><input name="direccione" type="text" class="textonormal" size="90" value="{direccione}" {deshabilitadodireccione}></td>
                                              <th width="54" class="textonormal" align="left">Comuna:</th>
                                              <td width="128" class="textonormal">     
                                              <select id="select16" name="comunae" class="textonormal" onChange="cambiaciudad(this, document.nueva_cotizacion_01.nomciudade)" {deshabilitadocomunae}>
	                                                  <option value="0">Seleccione Comuna</option>
	                                                  <!-- BEGIN comunas -->
	                                                  <option value="{id_comuna}" {selected}>{nomcomuna}</option>
	                                                  <script>arrayciudades[{id_comuna}] = '{nomciudadl}';</script>
	                                                  <!-- END comunas -->
	                                                </select>       
                                              </td>
										</tr>
                                        <tr>
					<td class="textonormal">&nbsp;</td>


                                              <th class="textonormal" align=left>Actividad Econ&oacute;mica:</th>
                                              <td class="textonormal">
                                              <input name="nom_giro" type="text" class="textonormal" value="{nom_giro}" size="20" maxlength="255" {deshabilitadogiroe} />
                                              <script>
                                              window.document.nueva_cotizacion_01.nom_giro.onkeypress = KeyIsTexto;
                                              </script>
                                              <select name="select_giro" class="TextoNormal" {deshabilitadogiroe} onChange="document. nueva_cotizacion_01.descripcion_giro.value=document.nueva_cotizacion_01.select_giro.options(document.nueva_cotizacion_01.select_giro.selectedIndex).text">
												 <option value="0" {selectedt} class="Textonormal">Seleccione Giro</option>
												<!-- BEGIN giro -->
												<option value="{id_giro}" {selected}>{descripcion_giro}</option>			
												<!-- END giro -->
											  </select> </td>
                                              <th class="textonormal" align=left>Ciudad:</th>
                                              <td class="textonormal"><input name="nomciudade" class="textonormal" type="text" value="{nomciudade}" size="38" disabled></td>
                                        </tr>
									</table>
									</fieldset>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td class="titulonormal">&nbsp;</td>
	</tr>
	<tr>
		<td class="titulonormal">Direcciones de Despacho</td>
		<td><a href="#" border=0><img src="../../IMAGES/add.gif" width="15" border="0" align="right" onClick="adddir()" title="Agregar Direcci&oacute;n Despacho"></a></td>
	</tr>
</table>

<script>
	arr_direcciones = '';
	var evaluar = '';
</script>
<!-- BEGIN direcciones -->
	<INPUT TYPE="hidden" NAME="id_direccion_{id_direccion}" VALUE="{id_direccion}">
	<script>arr_direcciones = arr_direcciones + ',' + '{id_direccion}';</script>
<table>
	<tr>
		<td width=775>
			<fieldset>
				<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="textonormal">&nbsp;&nbsp;&nbsp;</td>
						<th width="120" align=left class="textonormal">Nombre Direcci&oacute;n(*):</th>
						<td width="250" class="Textonormal"><input name="descripcion_{id_direccion}" type="text" class="Textonormal" value="{descripcion}" size="40"></td>
						<th width="120" align=left class="Textonormal">Direcci&oacute;n(*):</th>
						<td width="220" class="Textonormal"><input name="direccion_{id_direccion}" type="text" class="textonormal" value="{direccion}" size="60"></td>
					</tr>
					<script>
						window.document.nueva_cotizacion_01.direccion_{id_direccion}.onkeypress = KeyIsTexto;
						window.document.nueva_cotizacion_01.descripcion_{id_direccion}.onkeypress = KeyIsTexto;
					</script>
					<tr>
						<td class="textonormal">&nbsp;&nbsp;&nbsp;</td>
						<th align=left class="textonormal">Barrio(*):</th>
						<td>
						 <select name="select_comunasd_{id_direccion}" class="TextoNormal" >
			  			 <option value="0" {selectedtt} class="Textonormal">Seleccione Comuna</option>
						{bloque_comunad}
						   </select>
						<th align=left class="textonormal">Contacto:</th>
						<td class="textonormal"><input name="contacto_{id_direccion}" type="text" class="Textonormal" value="{contacto}">
						<script>
						window.document.nueva_cotizacion_01.contacto_{id_direccion}.onkeypress = KeyIsTexto;
						</script>
							&nbsp;&nbsp;&nbsp;Tel&eacute;fono:&nbsp;&nbsp;
							<input name="fonocontacto_{id_direccion}" type="text" class="Textonormal" value="{fonocontacto}"></td>
					</tr>
						<script>
						window.document.nueva_cotizacion_01.fonocontacto_{id_direccion}.onkeypress = KeyIsNumber;
						</script>
					<tr>
						<td class="textonormal">&nbsp;&nbsp;&nbsp;</td>
						<th align=left class="textonormal">e-mail:</th>
						<td><input name="email_{id_direccion}" class="textonormal" type="text" value="{email}" size="60"></td>
					</tr>
						<script>
						window.document.nueva_cotizacion_01.email_{id_direccion}.onkeypress = KeyIsTexto;
						</script>
					<tr>
						<td class="textonormal">&nbsp;&nbsp;&nbsp;</td>
						<th align=left class="textonormal">Comentario:</th>
						<td colspan=2><TEXTAREA class="textonormal" NAME="comentario_{id_direccion}" ROWS="2" COLS="80">{comentario}</TEXTAREA></td>
						<script>
						window.document.nueva_cotizacion_01.comentario_{id_direccion}.onkeypress = KeyIsTexto;
						</script>
						<td><a href="#" border=0><img src="../../IMAGES/del.gif" class="deleteME" width="15" title="Eliminar Direcci&oacute;n Despacho" align="right" border="0" id='{id_direccion}'; numoe='{num_elem_oe}' numop='{num_elem_op}'; onClick="validaelimdir(this, numoe, numop);" title="Eliminar Dirección Despacho"></a></td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>
</table>
<script> evaluar = evaluar + "validadir(document.nueva_cotizacion_01.descripcion_{id_direccion}, document.nueva_cotizacion_01.direccion_{id_direccion}, document.nueva_cotizacion_01.comuna_{id_direccion}, {id_direccion});"; </script>
<!-- END direcciones -->
</form>

<table width=760>
	<tr>
	  <td width="200">&nbsp;</td>
	  <td width="33"><a href="monitor_vendedor.php"><img src="../../IMAGES/anterior.gif"  alt="prueba" width="23" height="23" border="0" title="Anterior" ></a></td>
	  <td width="59" class="Textonormal">Anterior</td>
	  <td width="70" class="Textonormal">Siguiente</td>
	  <td width="31"><a href="#" onClick=" grabacliente()"><img src="../../IMAGES/siguiente.gif" alt="Grabar Datos" width="23" height="23" border="0" ></a></td>
	  <td width="200">&nbsp;</td>
	</tr>
</table>

<script LANGUAGE="javascript">
	window.document.nueva_cotizacion_01.razonsoc.onkeypress = KeyIsTexto;
	window.document.nueva_cotizacion_01.contactoe.onkeypress = KeyIsTexto ;
	window.document.nueva_cotizacion_01.fonocontactoe.onkeypress = KeyIsTelefono ;
	window.document.nueva_cotizacion_01.emaile.onkeypress = KeyIsTexto;
	window.document.nueva_cotizacion_01.comentarios.onkeypress = KeyIsTexto;
	window.document.nueva_cotizacion_01.direccione.onkeypress = KeyIsTexto;

	function validaelimdir(elem, numoe, numop){
		
		if(numoe>0&& numop<=0){
			alert('No puede eliminar la direccion de despacho, puesto que esta asociada a '+numoe+' orden(es) de entrega.');
			return;
		}
		if(numoe>0&& numop>0){
		alert('No puede eliminar la direccion de despacho, puesto que esta asociada a '+numoe+' orden(es) de entrega y a '+numop+' orden(es) de picking.');
			return;
		}
		
		if(numop>0&& numoe<=0){
			alert('No puede eliminar la direccion de despacho, puesto que esta asociada a '+numop+' orden(es) de picking.');
			return;
		}

		else{

			if (confirm('Esta seguro que desea eliminar la direccion de despacho?')){
				document.nueva_cotizacion_01.accion.value='elidir'; 
				document.nueva_cotizacion_01.id_direccion_elim.value=elem.id; 
				document.nueva_cotizacion_01.submit(); 
			}
			return;
		}
	}
	
	function adddir(){
		document.nueva_cotizacion_01.accion.value='adddir'; 
		document.nueva_cotizacion_01.submit(); 
	}
	
	evaluardir = true;
	
	function validadir(descripcion, direccion, comuna, id){
		var falta = '';
 		if (!descripcion.value)
 			falta += "- Nombre Direccion\n";
 		if (!direccion.value)
 			falta += "- Direccion\n";

 		if (falta) {
			alert('Faltan los siguientes datos en la direccion de despacho:\n' + falta);
			evaluardir = evaluardir && false;
			return false;
		}
		else {
			evaluardir = true;
			return true;
		}
	}
	
	function grabacliente(){

	var valorbox1= document.nueva_cotizacion_01.valorbox1;
		
		if(valorbox1.checked==true){
			valorbox1.value=1;
		}//Fin If
		else{
			if(valorbox1.checked==false){
				valorbox1.value=0;
			}
		}
		
		if(document.nueva_cotizacion_01.tipocliente.value==1){
			var indice = document.nueva_cotizacion_01.select_giro.selectedIndex;
			var indice2 = document.nueva_cotizacion_01.comunae.selectedIndex;
			
			if(document.nueva_cotizacion_01.id_giro2.value=='')
			document.nueva_cotizacion_01.id_giro2.value=0;
			if(document.nueva_cotizacion_01.comuna2.value=='')
			document.nueva_cotizacion_01.comuna2.value=0;

			if((document.nueva_cotizacion_01.razonsoc.value!=document.nueva_cotizacion_01.razonsoc_b.value)||(document.nueva_cotizacion_01.contactoe.value!=document.nueva_cotizacion_01.contactoe_b.value)||(document.nueva_cotizacion_01.contactoe.value!=document.nueva_cotizacion_01.contactoe_b.value)||(document.nueva_cotizacion_01.fonocontactoe.value!=document.nueva_cotizacion_01.fonocontactoe_b.value)||(document.nueva_cotizacion_01.emaile.value!=document.nueva_cotizacion_01.emaile_b.value)||(document.nueva_cotizacion_01.direccione.value!=document.nueva_cotizacion_01.direccione_b.value)||(document.nueva_cotizacion_01.nom_giro.value!=document.nueva_cotizacion_01.nom_giro_b.value)||(document.nueva_cotizacion_01.select_giro.options[indice].value!=document.nueva_cotizacion_01.id_giro2.value)||(document.nueva_cotizacion_01.comuna2.value!=document.nueva_cotizacion_01.comunae.options[indice2].value)){

				if(confirm('Los datos que ha modificado seran enviados a la base de datos del cliente SAP. ¿Desea continuar?')){
					eval(evaluar);
				if (!evaluardir)
					return false;
			
				document.nueva_cotizacion_01.accion.value='grabar';
				document.nueva_cotizacion_01.tupla_dir_mod.value = arr_direcciones;
				document.nueva_cotizacion_01.submit()
				}	
				else
				return false;
			}
		}
		
		//Si viene cliente tipo CVE, realice validación
		if(document.nueva_cotizacion_01.tipocliente.value==2){
		
			if (document.nueva_cotizacion_01.razonsoc.value==''){
				alert('Debe ingresar Razon Social del Cliente');
				return false;
			}
			
			if (document.nueva_cotizacion_01.contactoe.value==''){
				alert('Debe ingresar nombre de contacto del cliente');
				return false;
			}
			if(document.nueva_cotizacion_01.fonocontactoe.value==''){
				alert('Debe ingresar Fono de contacto');
				return false;
			}
		}
		
		eval(evaluar);
		if (!evaluardir)
			return;
		
		document.nueva_cotizacion_01.accion.value='grabar'; 
		document.nueva_cotizacion_01.tupla_dir_mod.value = arr_direcciones;
		document.nueva_cotizacion_01.submit()

	}
</script>