<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../../TEMPLATE/general/estilos.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ECE9D8;
}
-->
</style>
</head>
<script>
function bloquearimpresiones (){
document.getElementById('desimp').innerHTML='<img src="../../IMAGES/bloqueoprint.gif" width="73" height="29" border=0>';
parent.frames[1].imprimir();
}
</script>
<body>
<script type="text/javascript">

var isFirefox = testCSS('MozBoxSizing');                 // FF 0.8+
var isIE = /*@cc_on!@*/false || testCSS('msTransform');  // At least IE6
function testCSS(prop) {
    return prop in document.documentElement.style;
}

if( !isIE )
{


	function hookKeyboardEvents(e) {
		// get key code            
		var key_code = (window.event) ? event.keyCode : e.which;

		// case :if it is IE event
			if (window.event)
			{
				if (!event.shiftKey && !event.ctrlKey) {
						window.event.returnValue = null;
						event.keyCode = 0;
					}
			}
			// case: if it is firefox event
			else
					e.preventDefault();
	}

	window.document.onkeydown = hookKeyboardEvents;
}


if( isIE ) {
	document.onkeydown = function () { 
		if (event.keyCode == 17) alert('No se puede imprimir la guia mas de una vez.'); 
		  if (event.ctrlKey && event.keyCode == 80) {

						  alert('No se puede imprimir la guia mas de una vez.');

						  window.event.returnValue = null; 

						  event.keyCode = 0; 

		  }
	};
}

</script>
<table width="200" align="left"  border="0" cellpadding="0" cellspacing="0" bgcolor="#ECE9D8" class="textonormal">
  <tr>
    <td width="4%"><div id="desimp"><A HREF="#" onClick="bloquearimpresiones ();"><img src="../../IMAGES/print.gif" width="73" height="29" border=0></A></div></td>
    <td width="79%"><A HREF="#" onClick="javascript:top.window.close();">Cerrar</a></td>
  </tr>
</table>
</body>
</html>