<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Impresi&#243;n Hoja Pickeo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="33,*" cols="*" framespacing="0" frameborder="NO" border="0">
  <frame src="../../COMMAND/monitororpick/prthdr.php?id_ordenpicking={id_ordenpicking}&id_usuariore={id_usuariore}&apellidosre={apellidosre}&nombresre={nombresre}" name="topFrame" scrolling="NO" noresize >
  <frame src="../../COMMAND/monitororpick/monitor_orpick_02.php?mensaje={mensaje}&imprimircadena={imprimircadena}&id_ordenpicking={id_ordenpicking}&logval={logval}&id_usuariore={id_usuariore}&apellidosre={apellidosre}&nombresre={nombresre}" name="mainFrame">
</frameset>
<noframes><body>
</body></noframes>
</html>