<HTML><HEAD><TITLE>Test</TITLE>
<BODY>

Caracteres malos: aáeéñiíoóuú¿? 

<b>Ejemplo Tipo Usuario:</b><br>
<table border>
	<!-- BEGIN tipousuario -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipousuario -->
</table>
<br><br>

<b>Ejemplo Tipo Venta:</b><br>
<table border>
	<!-- BEGIN tipoventa -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipoventa -->
</table>
<br><br>

<b>Ejemplo Tipo Retiro:</b><br>
<table border>
	<!-- BEGIN tiporetiro -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tiporetiro -->
</table>
<br><br>

<b>Ejemplo Tipo Pago:</b><br>
<table border>
	<!-- BEGIN tipopago -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipopago -->
</table>
<br><br>

<b>Ejemplo Tipo Movimiento:</b><br>
<table border>
	<!-- BEGIN tipomovimiento -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipomovimiento -->
</table>
<br><br>

<b>Ejemplo Tipo Mensaje:</b><br>
<table border>
	<!-- BEGIN tipomensaje -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipomensaje -->
</table>
<br><br>

<b>Ejemplo Tipo Flujo:</b><br>
<table border>
	<!-- BEGIN tipoflujo -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipoflujo -->
</table>
<br><br>

<b>Ejemplo Tipo Entrega:</b><br>
<table border>
	<!-- BEGIN tipoentrega -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipoentrega -->
</table>
<br><br>

<b>Ejemplo Tipo Documento:</b><br>
<table border>
	<!-- BEGIN tipodocumento -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipodocumento -->
</table>
<br><br>

<b>Ejemplo Tipo Cliente:</b><br>
<table border>
	<!-- BEGIN tipocliente -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END tipocliente -->
</table>
<br><br>

<b>Ejemplo Rubro:</b><br>
<table border>
	<!-- BEGIN rubro -->
	<tr>
		<td>id</td><td bgcolor=blue><i>{id}</i></td>
		<td>nombre</td><td bgcolor=blue><i>{nombre}</i></td>
	</tr>
	<!-- END rubro -->
</table>
<br><br>

<b>Ejemplo Comuna:</b><br>
<table border>
	<!-- BEGIN comuna -->
	<tr>
		<td>id_comuna</td><td bgcolor=blue><i>{id_comuna}</i></td>
		<td>nomcomuna</td><td bgcolor=blue><i>{nomcomuna}</i></td>
		<td>id_ciudad</td><td bgcolor=blue><i>{id_ciudad}</i></td>
		<td>nomciudad</td><td bgcolor=blue><i>{nomciudad}</i></td>
	</tr>
	<!-- END comuna -->
</table>
<br><br>

<b>Ejemplo Listado de Clientes:</b><br>
<table border>
	<!-- BEGIN listaclientes -->
	<tr>
		<td>CC/NIT/RUT</td><td bgcolor=blue><i>{rut}</i></td>
		<td>razonsoc</td><td bgcolor=blue><i>{razonsoc}</i></td>
		<td>Actividad Econ&oacute;mica</td><td bgcolor=blue><i>{giro}</i></td>
		<td>nomciudad</td><td bgcolor=blue><i>{nomciudad}</i></td>
	</tr>
	<!-- END listaclientes -->
</table>
<br><br>

<b>Ejemplo Inserci?n de Cliente:</b><br>
<table border>
	<tr>
		<td>respuesta</td><td bgcolor=blue><i>{respuesta}</i></td>
	</tr>
</table>
<br><br>

<b>Ejemplo Documento Encabezado:</b><br>
<table border>
	<!-- BEGIN listadocumentos -->
	<tr>
		<td>id_documento</td><td bgcolor=blue><i>{id_documento}</i></td>
		<td>id_tipodocumento</td><td bgcolor=blue><i>{id_tipodocumento}</i></td>
		<td>sigtipodoc</td><td bgcolor=blue><i>{sigtipodoc}</i></td>
		<td>pagina</td><td bgcolor=blue><i>{pagina}</i></td>
		<td>tipoorigen</td><td bgcolor=blue><i>{tipoorigen}</i></td>
		<td>numorigen</td><td bgcolor=blue><i>{numorigen}</i></td>
		<td>numdocumento</td><td bgcolor=blue><i>{numdocumento}</i></td>
		<td>CC/NIT/RUT</td><td bgcolor=blue><i>{rutcliente}</i></td>
		<td>razonsoc</td><td bgcolor=blue><i>{razonsoc}</i></td>
		<td>Actividad Econ&oacute;mica</td><td bgcolor=blue><i>{giro}</i></td>
		<td>direccion</td><td bgcolor=blue><i>{direccion}</i></td>
		<td>comuna</td><td bgcolor=blue><i>{comuna}</i></td>
		<td>iva</td><td bgcolor=blue><i>{iva}</i></td>
		<td>totaltexto</td><td bgcolor=blue><i>{totaltexto}</i></td>
		<td>totalnum</td><td bgcolor=blue><i>{totalnum}</i></td>
		<td>condicion</td><td bgcolor=blue><i>{condicion}</i></td>
		<td>diascondicion</td><td bgcolor=blue><i>{diascondicion}</i></td>
		<td>Tel&eacute;fonocontacto</td><td bgcolor=blue><i>{fonocontacto}</i></td>
		<td>observaciones</td><td bgcolor=blue><i>{observaciones}</i></td>
		<td>nota</td><td bgcolor=blue><i>{nota}</i></td>
		<td>codlocalventa</td><td bgcolor=blue><i>{codlocalventa}</i></td>
		<td>codlocalcsum</td><td bgcolor=blue><i>{codlocalcsum}</i></td>
	</tr>
	<!-- END listadocumentos -->
</table>
<br><br>
<b>Ejemplo Productos:</b><br>
<table border>
	<!-- BEGIN productos --> 
	<tr>
		<td>sap</td><td bgcolor=blue><i>{sap}</i></td>
		<td>barra</td><td bgcolor=blue><i>{barra}</i></td>
		<td>descripcion</td><td bgcolor=blue><i>{descripcion}</i></td>
		<td>nomprov</td><td bgcolor=blue><i>{nomprov}</i></td>
		<td>numretreal</td><td bgcolor=blue><i>{numretreal}</i></td>
	</tr>  
	<!-- END productos -->
</table>

<br><br>
<b>Ejemplo Documento Detalle:</b><br>
<table border>
	<!-- BEGIN detalledocumento --> 
	<tr>
		<td>id_linea</td><td bgcolor=blue><i>{id_linea}</i></td>
		<td>id_documento</td><td bgcolor=blue><i>{id_documento}</i></td>
		<td>numlinea</td><td bgcolor=blue><i>{numlinea}</i></td>
		<td>descripcion</td><td bgcolor=blue><i>{descripcion}</i></td>
		<td>codprod</td><td bgcolor=blue><i>{codprod}</i></td>
		<td>barra</td><td bgcolor=blue><i>{barra}</i></td>
		<td>pventaneto</td><td bgcolor=blue><i>{pventaneto}</i></td>
		<td>pventaiva</td><td bgcolor=blue><i>{pventaiva}</i></td>
		<td>cantidad</td><td bgcolor=blue><i>{cantidad}</i></td>
		<td>totallinea</td><td bgcolor=blue><i>{totallinea}</i></td>
		<td>impuesto1</td><td bgcolor=blue><i>{impuesto1}</i></td>
		<td>impuesto2</td><td bgcolor=blue><i>{impuesto2}</i></td>
		<td>unimed</td><td bgcolor=blue><i>{unimed}</i></td>		
	</tr>  
	<!-- END detalledocumento -->
</table>
<br><br>
<b>Ejemplo Cotizaci?n Encabezado:</b><br>
<table border>
	<tr>
		<td>id_cotizacion</td><td>id_estado</td><td>id_tipoventa</td>
		<td>codigovendedor</td><td>CC/NIT/RUT</td><td>codlocalventa</td>
		<td>codlocalcsum</td><td>razonsoc</td><td>giro</td><td>direccion</td>
		<td>comuna</td><td>iva</td><td>validdesde</td><td>validhasta</td><td>validdias</td>
		<td>condicion</td><td>diascondicion</td><td>Tel&eacute;fonocontacto</td>	
		<td>observaciones</td><td>nota</td><td>id_usuario</td><td>usuariocrea</td>
		<td>incluirentotal</td><td>valortotal</td><td>margentotal</td><td>obsdesb</td>
	</tr>
	<!-- BEGIN listadocotizacion -->
	<tr>
		<td bgcolor=pink><i>{id_cotizacion}</i></td><td bgcolor=pink><i>{id_estado}</i></td>
		<td bgcolor=pink><i>{id_tipoventa}</i></td><td bgcolor=pink><i>{codigovendedor}</i></td>
		<td bgcolor=pink><i>{rutcliente}</i></td><td bgcolor=pink><i>{codlocalventa}</i></td>
		<td bgcolor=pink><i>{codlocalcsum}</i></td><td bgcolor=pink><i>{razonsoc}</i></td>
		<td bgcolor=pink><i>{giro}</i></td><td bgcolor=pink><i>{direccion}</i></td>
		<td bgcolor=pink><i>{comuna}</i></td><td bgcolor=pink><i>{iva}</i></td>
		<td bgcolor=pink><i>{validdesde}</i></td><td bgcolor=pink><i>{validhasta}</i></td>
		<td bgcolor=pink><i>{validdias}</i></td><td bgcolor=pink><i>{condicion}</i></td>
		<td bgcolor=pink><i>{diascondicion}</i></td><td bgcolor=pink><i>{fonocontacto}</i></td>
		<td bgcolor=pink><i>{observaciones}</i></td><td bgcolor=pink><i>{nota}</i></td>
		<td bgcolor=pink><i>{id_usuario}</i></td><td bgcolor=pink><i>{usuariocrea}</i></td>
		<td bgcolor=pink><i>{incluirentotal}</i></td><td bgcolor=pink><i>{valortotal}</i></td>	
		<td bgcolor=pink><i>{margentotal}</i></td><td bgcolor=pink><i>{obsdesb}</i></td>			
	</tr>
	<!-- END listadocotizacion -->
</table>
<br><br>

<b>Ejemplo Cotizaci?n Detalle:</b><br>
<table border>
	<tr>
		<td>id_linea</td><td>id_cotizacion</td><td>id_tiporetiro</td><td>numlinea</td>
		<td>descripcion</td><td>codprod</td><td>barra</td><td>pcosto</td>
		<td>pventaneto</td><td>cargoflete</td><td>pventaiva</td>
		<td>totallinea</td><td>cantidad</td><td>cantidade</td><td>margenlinea</td>
		<td>codtipo</td><td>codsubtipo</td>		
	</tr>
	<!-- BEGIN detallecotizacion -->
	<tr>
 		<td bgcolor=pink><i>{id_linea}</i></td><td bgcolor=pink><i>{id_cotizacion_}</i></td>
		<td bgcolor=pink><i>{id_tiporetiro}</i></td><td bgcolor=pink><i>{numlinea}</i></td>
		<td bgcolor=pink><i>{descripcion}</i></td><td bgcolor=pink><i>{codprod}</i></td>
		<td bgcolor=pink><i>{barra}</i></td><td bgcolor=pink><i>{pcosto}</i></td>
		<td bgcolor=pink><i>{pventaneto}</i></td><td bgcolor=pink><i>{cargoflete}</i></td>
		<td bgcolor=pink><i>{pventaiva}</i></td><td bgcolor=pink><i>{totallinea}</i></td>
		<td bgcolor=pink><i>{cantidad}</i></td><td bgcolor=pink><i>{cantidade}</i></td>
		<td bgcolor=pink><i>{margenlinea}</i></td>
	</tr>
	<!-- END detallecotizacion -->
</table>
<br><br>

<b>Ejemplo Orden de Entrega Encabezado:</b><br>
<table border>
	<tr>
		<td>id_ordenent</td><td>id_cotizacion</td><td>id_estado</td>
		<td>id_tipopago</td><td>id_tipoentrega</td><td>id_direccion</td>
		<td>id_tipoflujo</td><td>codigovendedor</td><td>rutcliente</td>
		<td>CC/NIT/RUT Vendedor</td><td>codlocalventa</td><td>codlocalcsum</td>
		<td>razonsoc</td><td>giro</td><td>direccion</td><td>comuna</td>
		<td>iva</td><td>condicion</td><td>diascondicion</td>
		<td>fonocontacto</td><td>observaciones</td><td>nota</td>
		<td>id_usuario</td><td>numdocpago</td><td>obsdesb</td>
	</tr>
	<!-- BEGIN ordenent -->
	<tr>
		<td bgcolor=pink><i>{id_ordenent}</i></td><td bgcolor=pink><i>{id_cotizacion}</i></td>
		<td bgcolor=pink><i>{id_estado}</i></td><td bgcolor=pink><i>{id_tipopago}</i></td>
		<td bgcolor=pink><i>{id_tipoentrega}</i></td><td bgcolor=pink><i>{id_direccion}</i></td>
		<td bgcolor=pink><i>{id_tipoflujo}</i></td><td bgcolor=pink><i>{codigovendedor}</i></td>
		<td bgcolor=pink><i>{rutcliente}</i></td><td bgcolor=pink><i>{rutvendedor}</i></td>
		<td bgcolor=pink><i>{codlocalventa}</i></td><td bgcolor=pink><i>{codlocalcsum}</i></td>
		<td bgcolor=pink><i>{razonsoc}</i></td><td bgcolor=pink><i>{giro}</i></td>
		<td bgcolor=pink><i>{direccion}</i></td><td bgcolor=pink><i>{comuna}</i></td>
		<td bgcolor=pink><i>{iva}</i></td><td bgcolor=pink><i>{condicion}</i></td>
		<td bgcolor=pink><i>{diascondicion}</i></td><td bgcolor=pink><i>{fonocontacto}</i></td>
		<td bgcolor=pink><i>{observaciones}</i></td><td bgcolor=pink><i>{nota}</i></td>																		
		<td bgcolor=pink><i>{id_usuario}</i></td><td bgcolor=pink><i>{numdocpago}</i></td>		
		<td bgcolor=pink><i>{obsdesb}</i></td><td bgcolor=pink><i>{codtipo}</i></td>
		<td bgcolor=pink><i>{codsubtipo}</i></td>
	</tr>
	<!-- END ordenent -->
</table>

<br><br>
<b>Ejemplo Orden de Entrega Detalle:</b><br>
<table border>
	<tr>
		<td>id_linea</td><td>id_ordenent</td><td>id_tiporetiro</td><td>numlinea</td>
		<td>descripcion</td><td>codprod</td><td>barra</td><td>pventaneto</td><td>pventaiva</td>
		<td>totallinea</td><td>cantidade</td><td>cantidadp</td><td>cantidadd</td>
		<td>id_lineadoc</td><td>id_documento</td><td>unimed</td>
	</tr>
	<!-- BEGIN detordenent -->
	<tr>
 		<td bgcolor=pink><i>{id_linea}		</i></td><td bgcolor=pink><i>{id_ordenent_}</i></td>
		<td bgcolor=pink><i>{id_tiporetiro}	</i></td><td bgcolor=pink><i>{numlinea}		</i></td>
		<td bgcolor=pink><i>{descripcion}	</i></td><td bgcolor=pink><i>{codprod}		</i></td>
		<td bgcolor=pink><i>{barra}			</i></td><td bgcolor=pink><i>{pventaneto}		</i></td>
		<td bgcolor=pink><i>{pventaiva}		</i></td><td bgcolor=pink><i>{totallinea}	</i></td>
		<td bgcolor=pink><i>{cantidade}		</i></td><td bgcolor=pink><i>{cantidadp}	</i></td>
		<td bgcolor=pink><i>{cantidadd}		</i></td><td bgcolor=pink><i>{id_lineadoc}	</i></td>
		<td bgcolor=pink><i>{id_documento}	</i></td><td bgcolor=pink><i>{unimed}	</i></td>
	</tr>
	<!-- END detordenent -->
</table>

<br><br>
<b>Ejemplo Encabezado Orden de Picking :</b><br>
<table border>
	<tr>
		<td>id_ordenpicking</td><td>id_ordenent</td><td>id_estado</td>
		<td>id_direccion</td><td>CC/NIT/RUT</td><td>cod_local</td>
		<td>razonsoc</td><td>direccion</td><td>comuna</td>
		<td>Tel&eacute;fonocontacto</td><td>observaciones</td><td>nota</td>
		<td>id_usuario</td><td>usuariocrea</td>
	</tr>
	<!-- BEGIN ordenpick -->
	<tr>
		<td bgcolor=pink><i>{id_ordenpicking}</i></td><td bgcolor=pink><i>{id_ordenent}</i></td>
		<td bgcolor=pink><i>{id_estado}</i></td><td bgcolor=pink><i>{id_direccion}</i></td>
		<td bgcolor=pink><i>{rutcliente}</i></td><td bgcolor=pink><i>{cod_local}</i></td>
		<td bgcolor=pink><i>{razonsoc}</i></td><td bgcolor=pink><i>{direccion}</i></td>
		<td bgcolor=pink><i>{comuna}</i></td><td bgcolor=pink><i>{fonocontacto}</i></td>
		<td bgcolor=pink><i>{observaciones}</i></td><td bgcolor=pink><i>{nota}</i></td>
		<td bgcolor=pink><i>{id_usuario}</i></td><td bgcolor=pink><i>{usuariocrea}</i></td>
	</tr>
	<!-- END ordenpick -->
</table>

<br><br>
<b>Ejemplo Detalle Orden de Picking:</b><br>
<table border>
	<tr>
		<td>id_linea</td><td>id_ordenpicking</td><td>numlinea</td><td>descripcion</td>
		<td>codprod</td><td>barra</td><td>cantidad</td><td>totallinea</td>
		<td>cantidadp</td>
	</tr>
	<!-- BEGIN detordenpick -->
	<tr>
 		<td bgcolor=pink><i>{id_linea}		</i></td><td bgcolor=pink><i>{id_ordenpicking}</i></td>
		<td bgcolor=pink><i>{numlinea}		</i></td><td bgcolor=pink><i>{descripcion}		</i></td>
		<td bgcolor=pink><i>{codprod}		</i></td><td bgcolor=pink><i>{barra}		</i></td>
		<td bgcolor=pink><i>{cantidad}		</i></td><td bgcolor=pink><i>{totallinea}		</i></td>
		<td bgcolor=pink><i>{cantidadp}		</i>
	</tr>
	<!-- END detordenpick -->
</table>

<b>Ejemplo Estados:</b><br>
<table border>
	<!-- BEGIN estado -->
	<tr>
		<td>id_estado</td><td bgcolor=pink><i>{id_estado}</i></td>
		<td>nomestado</td><td bgcolor=pink><i>{nomestado}</i></td>
	</tr>
	<!-- END estado -->
</table>
<br><br>

</body>
</html>


