<fieldset>
			  	
				  
			  <table width="100%" height="10"  border="0" cellpadding="0" cellspacing="0" class="textonormal">
					<tr>
						<td width="250" align="left" class="textonormal"></td><td></td>
						
					</tr>
					<tr>
						<th width="120" align="left" class="textonormal" style="height: 20px">Nombre Direcci&oacute;n:</th>
					    <td width="250" class="Textonormal">{nom_direccion}</td>
						<th width="120" align="left" class="Textonormal">Ciudad:</th>
						<td width="220" class="Textonormal">{nom_ciudad}</td>
					</tr>
					<tr>
						<th align="left" class="textonormal" style="height: 20px">Barrio:</th>
	                    <td width="128" class="textonormal">{nomcomuna}</td>
						<th align="left" class="textonormal">Contacto:</th>
						<th class="textonormal" align="left">{contacto}&nbsp;          
					</th>
					</tr>
					<tr>
				</tr>
				<tr>
						<th align="left" class="textonormal" style="height: 20px">Tel&eacute;fono:</th>
						<td width="128">{fonocontacto}&nbsp;</td>
						
				</tr>
				<tr>
						<th align="left" class="textonormal" style="height: 20px">Comentario:</th>
						<td colspan="2">{comentario}<td style="width: 299px"></td>
						
				</tr>
				</table>
		 	</fieldset>	