

		var registro = new Array();
<!-- BEGIN unidad -->
		var datos = new Array();
		datos[0] = {numlinea1};
		datos[1] = {sap1};
		datos[2] = {barra1};
		datos[3] ='{descripcion1}';
		datos[4] ='{unidmed1}';
		datos[5] ='{stock1}';
		datos[6] = {pventa1};
		datos[7] = {pcosto1};
		datos[8] ='{nomprov1}';
		datos[9] ='{prod_tipo1}';
		datos[10] ='{prod_subtipo1}';
		datos[15] ='';
		registro[{registro1}] = datos;
		var numlinea ={numlinea1};
<!-- END unidad -->
		registrofilas[numlinea]= registro;