<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Impresi&#243;n {tipo_spa}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="33,*" cols="*" framespacing="0" frameborder="NO" border="0" >
  <frame src="../../TEMPLATE/nuevacotizacion/prthdr.htm" name="topFrame" scrolling="no" noresize >
  <frame src="../../COMMAND/nuevacotizacion/nueva_cotizacion_formato_nuevo_04_pop.php?id_cotizacion={id_cotizacion}&rut={rut}&tipo={tipo}" name="mainFrame" title="no">
  <!--  <frame src="../../COMMAND/nuevacotizacion/nueva_cotizacion_04_pop.php?id_cotizacion={id_cotizacion}&rut={rut}" name="mainFrame">  -->
</frameset>
<noframes><body>
</body></noframes>
</html>